---
interface Props {
  name: string;
  country: string;
  year: string;
  content: string;
  web: string;
}

const { name, country, year, content, web } = Astro.props;
---

<div>
  <div class="flex flex-row items-center gap-2 mb-3">
    <h3 class="my-2 md:my-0 text-lg text-center font-bold text-primary">
      {name}
      <span class="font-light text-base">({country}, {year})</span>
    </h3>
  </div>
  <div class="text-left mb-4">
    {content}
  </div>
  <a
    target="_blank"
    rel="noopener noreferrer"
    class="font-light text-primary hover:text-secondary"
    href={web}>{web}</a
  >
</div>
