---
interface Props {
  title: string;
  year: string;
  description: string;
  img: string;
  link?: string;
}

const { title, year, img, description, link } = Astro.props;
---

<div class="my-6">
  <h2 class="text-2xl text-center">{year}</h2>
  <h3 class="text-center font-semibold mb-2 text-xl text-primary">
    {title}
  </h3>
  <div class="flex">
    <div class="flex flex-col p-2">
      <p class="text-justify mb-2">
        {description}
      </p>
      {
        link && (
          <a
            href={link}
            class="text-primary hover:text-secondary"
            target="_blank"
            rel="noopener"
          >
            Visit {title}
          </a>
        )
      }
    </div>
    <img src={img} alt="" class="w-1/2 p-2" />
  </div>
</div>
